@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container" style="max-width: 800px;">
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-4 d-flex justify-content-center">
                    <a class="btn btn-v btn-v-main"
                       role="button"
                       style="display: flex; align-items: center; justify-content: center;"
                       asp-controller="Users" asp-action="AddRole">Add Role</a>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-4 justify-content-center">
                    <table class="table">
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.Name</td>
                                @if (role.Name != "admin" && role.Name != "moder" && role.Name != "user")
                                {
                                    <td>
                                        <form asp-action="DeleteRole" asp-route-id="@role.Id" asp-controller="Users" method="post">
                                            <button type="submit" class="btn btn-sm btn-v btn-v-main">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>