:root {
  --color1: #13141a;
  --color2: #70717d;
  --color3: #5dd15d;
  --color4: #ff0000;
  --pagewidth: 800px;

  --height: 100px;
  --radius: var(--width);
}

body {
  background-color: var(--color1);
  min-height: 100%;
}

footer {
    background: var(--color1);
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Высота footer */
    height: 200px;
    display: flex;
    align-items: end;
}

.blinker-sad {
    background-color: var(--color1);
    border-color: var(--color2);
    color: var(--color2);
}

.blinker-sad:hover {
    background-color: var(--color1);
    border-color: var(--color3);
    color: var(--color3);
}

.blinker-danger-sad {
    background-color: var(--color1);
    border-color: var(--color4);
    color: var(--color4);
}

.blinker-danger-sad:hover {
    background-color: var(--color1);
    border-color: var(--color2);
    color: var(--color2);
}


.border-sad {
    border-color: var(--color2);
    border-width: 4px;
}

.btn-sad {
    border-radius: 50px;
    font-size: 25px;
    border-width: 4px;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content:center;
}

.btn-sad:focus {
    outline: none;
    box-shadow: none;
}

.btn-main-sad {
    aspect-ratio: 2/1;
}

.btn-service-sad {
    aspect-ratio: 2/1;
    height : 35px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 14px;
}

.btn-sub-service-sad {
    aspect-ratio: 1/1;
}

.forest-house {
    background-image: url(/lib/logo/Mono200.bmp);
    scale: 100%;
    height: 148px;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.forest-house:hover {
    background-image: url(/lib/logo/Color200.bmp);
}

.h1-sad {
  font-size: 110px; 
  font-weight: 100;
}

.h3-sad {
    font-size: 25px;
    font-weight: 400;
}

.hr-sad {
  height: 2px;
  background: var(--color2);
  margin-top: 0px;
}

.input-sad {
    height:50px;
    border-radius:25px;
    border-width:3px;
    width:200px;
    border-image:none;
    border-style:solid;
    font-weight:600;
    font-size: 22px;
    padding-bottom: 3px;
    padding-left: 15px;
}

.td-btn-sad {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.td-sad {
    vertical-align: middle;
}

.scroll-sad {
    overflow:auto; /* Safari and Chrome */
}

.scroll-sad::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
