<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SadSchool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icons.css" asp-append-version="true" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                @if(ViewContext.RouteData.Values["action"].ToString() == "About")
                {
                    <a class="btn btn-v btn-v-service" 
                        href="/Home/Index" 
                        role="button"
                   style="display: flex; align-items: center; justify-content: center; margin-top: 20px;font-size:28px">
                        <i class="icon-back" style="margin-top: -2px;
                                                margin-left: -4px"> </i>  
                    </a>
                }
            </div>
            <div class="col-8">
                <h1 class="text-center my-h1 display-1">WHY SO SAD?</h1>
            </div>
            <div class="col-2" style="display:flex;">
                <div class="container" style="display:flex; align-items:center; justify-content: flex-end;padding-top:2px">
                    <div class = "row">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <partial name="~/Views/Account/_PartialLogIn.cshtml" />
                        }
                        else
                        {
                            <partial name="~/Views/Account/_PartialLogOut.cshtml" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="hr" />
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="row justify-content-center">
            <div class="col-12 forest-house">
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
