<div class="col-6" style="display:flex;justify-content: flex-end;align-items: center;">
    <div class="h3-sad blinker-sad">@User?.Identity?.Name</div>
</div>
<div class="col-6 text-center-sad">
    <a class="btn btn-sad btn-sub-service-sad blinker-sad"
       role="button"
       style="display: flex; align-items: center; justify-content: center; font-size:22px"
       asp-controller="Account" asp-action="Logout">
       <i class="icon-logout" 
          style="margin-top: -2px; margin-left: 5px"> </i> </a>
</div>
