<div>
    <a class="btn btn-sad btn-main-sad blinker-sad"
       role="button"
       style="display: flex; align-items: center; justify-content: center;"
       asp-controller="Account" asp-action="Login">Let me in</a>
</div>
