@model SadSchool.ViewModels.LoginViewModel
<body>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="d-flex justify-content-center" style="color:orange; font-size:20px; font-weight:300; margin-bottom: 8px">Think twice, little friend</div>
    }     
    else
    {
        <div class="text-center blinker-sad h3-sad">
            It's time to remeber ur password
        </div>
    }

    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="container" style="display:flex; flex-direction:row; align-items: center">
            <div class="col-3">
            </div>
            <div class="col-3">
                <div class="row" style="margin:7px; justify-content:flex-end">
                    <input asp-for="UserName" class="input-sad blinker-sad" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="row" style="margin:7px; justify-content:flex-end">
                    <input asp-for="Password" class="input-sad blinker-sad" />
                </div>
            </div>
            <div class="col-3 d-flex" style="align-items:center">
                <div>
                    <input type="submit" value="Enter The Void" class="btn btn-sad btn-main-sad blinker-sad" />
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </form>
</body>