@model SadSchool.ViewModels.AccountViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="justify-content: center;">
            <div class="col-4" style="max-width: 800px; margin-top:30px">
                <div class="text-center" style="padding: 0px; font-size:25px;">
                    <a class="btn btn-sad btn-main-sad blinker-sad"
                       role="button"
                       href="/Data/Data"
                       style="display: flex; align-items: center; justify-content: center;">
                        Classes
                    </a>
                </div>
            </div>
            <div class="col-4" style="max-width: 800px; margin-top:30px">
                <div class="text-center" style="padding: 0px; font-size:25px;">
                    <a class="btn btn-sad btn-main-sad blinker-sad"
                       role="button"
                       href="/Data/Data"
                       style="display: flex; align-items: center; justify-content: center;">
                        Lessons
                    </a>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center" style="max-width: 800px; margin-top:30px">
                <div class="text-center" style="padding: 0px; font-size:25px;">
                    <a class="btn btn-sad btn-main-sad blinker-sad"
                       role="button"
                       href="/Data/Data"
                       style="display: flex; align-items: center; justify-content: center;">
                        Marks
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="row justify-content-center">
        <div class="col-12 forest-house">
        </div>
    </div>
</footer>
</html>