<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <title>Data</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container scroll-sad" style="max-width: 800px; max-height: 600px">
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btn-sad btn-main-sad blinker-sad" role="button">Schedule</a>
                </div>
            </div>
            @if (@User.Identity.IsAuthenticated)
            {     
                <div class="row justify-content-center" style="margin-top:30px">
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="Class" asp-action="Classes">Classes</a>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="ScheduledLesson" asp-action="ScheduledLessons">Scheduled Lessons</a>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="Lesson" asp-action="Lessons">Lessons</a>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:30px">
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="Mark" asp-action="Marks">Marks</a>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="StartTime" asp-action="StartTimes">Start Time</a>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="Student" asp-action="Students">Students</a>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:30px">
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="Subject" asp-action="Subjects">Subjects</a>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad" role="button"
                           asp-controller="Teacher" asp-action="Teachers">Teachers</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>