@model SadSchool.ViewModels.LessonViewModel;

<div class="text-center blinker-sad h3-sad">
    Edit the Lesson
</div>
<form method="post" asp-controller="Lesson" asp-action="Edit">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-12 d-flex" style="justify-content:center; align-items:center">
                <div class="container d-flex" style="flex-direction:column; align-items:center;
                                                     text-align:center; padding-block:10px">
                    <label class="blinker-sad" style="margin-top: 5px" asp-for="Date"></label>
                    <input asp-for="Date" class="input-sad blinker-sad" />
                    <span asp-validation-for="Date"></span>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="ScheduledLessonId">Class</label>
                    <select asp-for="ScheduledLessonId" asp-items="@Model.ScheduledLessons" class="input-sad blinker-sad">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex" style="justify-content:center; align-items:center">
                <div>
                    <input type="submit" value="Save" class="btn btn-sad btn-service-sad blinker-sad" />
                </div>
            </div>
        </div>
    </div>
</form>