@model SadSchool.ViewModels.MarkViewModel;

<div class="text-center blinker-sad h3-sad">
    Edit the Mark
</div>
<form method="post" asp-controller="Mark" asp-action="Edit">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-12 d-flex" style="justify-content:center; align-items:center">
                <div class="container d-flex" style="flex-direction:column; align-items:center;
                                                     text-align:center; padding-block:10px">
                    <label class="blinker-sad" style="margin-top: 5px" asp-for="Value">@Model.Value</label>
                    <input asp-for="Value" class="input-sad blinker-sad" />
                    <span asp-validation-for="Value" style="color:orange"></span>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="StudentId"></label>
                    <select asp-for="StudentId" asp-items="@Model.Students" class="input-sad blinker-sad">
                    </select>
                    <span asp-validation-for="StudentId" style="color:orange"></span>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="LessonId"></label>
                    <select asp-for="LessonId" asp-items="@Model.Lessons" class="input-sad blinker-sad">
                    </select>
                    <span asp-validation-for="LessonId" style="color:orange"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex" style="justify-content:center; align-items:center">
                <div>
                    <input type="submit" value="Save" class="btn btn-sad btn-service-sad blinker-sad" />
                </div>
            </div>
        </div>
    </div>
</form>