@model SadSchool.ViewModels.StudentViewModel;

<div class="text-center blinker-sad h3-sad">
    Add new Teacher
</div>
<form method="post" asp-controller="Student" asp-action="AddStudent">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-12 d-flex" style="justify-content:center; align-items:center">
                <div class="container d-flex" style="flex-direction:column; align-items:center;
                                                     text-align:center; padding-block:10px">
                    <label class="blinker-sad" style="margin-top: 5px" asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="input-sad blinker-sad" />
                    <span asp-validation-for="FirstName"></span>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="LastName"></label>
                    <input asp-for="LastName" class="input-sad blinker-sad" />
                    <span asp-validation-for="LastName"></span>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="DateOfBirth"></label>
                    <input asp-for="DateOfBirth" class="input-sad blinker-sad" />
                    <span asp-validation-for="DateOfBirth"></span>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="ClassId"></label>
                    <select asp-for="ClassId" asp-items="@Model.Classes" class="input-sad blinker-sad">
                    </select>

                    <label class="blinker-sad" style="margin-top: 5px" asp-for="Sex"></label>
                    <select asp-for="Sex" asp-items="@Model.Sexes" class="input-sad blinker-sad">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex" style="justify-content:center; align-items:center">
                <div>
                    <input type="submit" value="Create" class="btn btn-sad btn-service-sad blinker-sad" />
                </div>
            </div>
        </div>
    </div>
</form>