<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="justify-content: center;">
            <div class="col-12" style="max-width: 800px; margin-top:30px">
                <div class="text-center" style="padding: 0px; font-size:18px;">
                    There is an explanation about saddness, but I don't know what I must say.
                    Don't think about live, better think about living. I don't know when I'll die, or where.
                    But I will, and so do you. We will. Do you know who we are? Ofcourse you know. Footprints.
                    We are just a footprints inside the blizzard. We don't have much time, right? But sometimes blizzard
                    doesn't come for long. Oh, I see snowflakes. Is it Time?
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="row justify-content-center">
        <div class="col-12 forest-house">
        </div>
    </div>
</footer>
</html>