@page
<div class="container" style="border:dotted; border-radius: 15px; border-width: 2px">
    <div class="row p-1">
        <div class="col-2 h4-sad" style="max-width: 120px">User</div>
        <div class="col-8"><input class="input-sad blinker-sad" type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-2 h4-sad" style="max-width: 120px">Message</div>
        <div class="col-8"><input class="input-sad blinker-sad w-100" type="text" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-2 text-end" style="max-width: 120px">
            <input class="btn btn-sad btn-service-sad blinker-sad" type="button" id="sendButton" value="Send Message" />
        </div>
        <div class="col-8" />
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>