<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container" style="max-width: 1000px;">
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-3 d-flex justify-content-center">
                    <a class="btn btn-sad btn-main-sad blinker-sad"
                    href="/Home/About"
                    role="button"
                    style="display: flex; align-items: center; justify-content: center;">
                        So why?
                    </a>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a class="btn btn-sad btn-main-sad blinker-sad"
                    role="button"
                    style="display: flex; align-items: center; justify-content: center;"
                    asp-controller="Data" asp-action="DataIndex">
                        Data
                    </a>
                </div>
                @if (@User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="col-3 d-flex justify-content-center">
                            <a class="btn btn-sad btn-main-sad blinker-sad"
                            href="/Home/Chat"
                            role="button"
                            style="display: flex; align-items: center; justify-content: center;">
                            Need to talk
                            </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad"
                           href="/Home/Blackboard"
                           role="button"
                           style="display: flex; align-items: center; justify-content: center;">
                            Blackboard
                        </a>
                    </div>
                }
            </div>
            @if(User.IsInRole("admin"))
            {
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-12 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad"
                       role="button"
                       style="display: flex; align-items: center; justify-content: center;"
                       asp-controller="Stuff" asp-action="Stuff">
                        Stuff
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>